{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "12.13.1"
      }
    }]
  ],
  "plugins": ["@babel/plugin-transform-spread", "@babel/plugin-proposal-object-rest-spread"]
}
