<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <html>
  <head>
    <style media="all" type="text/css">
      td,
      p,
      h1,
      h3,
      a {
        font-family: Helvetica, Arial, sans-serif;
      }
    </style>
  </head>
<body link="#c6d4df" alink="#c6d4df" vlink="#c6d4df" text="#c6d4df"
  style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #c6d4df;">
  <table style="width: 538px; background-color: transparent;" align="center" cellspacing="0" cellpadding="0">
    <tr>
      <td style="height: 75px; background-color: #44475a; border-bottom: 1px solid #4d4b48; text-align: center; padding: 10px;">
        <img src="https://i.imgur.com/qwyj25k.png" width="300" alt="Restless" style="object-fit: contain;">
      </td>
    </tr>
    <tr>
      <td bgcolor="#282a36">
        <table width="470" border="0" align="center" cellpadding="0" cellspacing="0"
          style="padding-left: 5px; padding-right: 5px; padding-bottom: 10px;">
          <tr bgcolor="#282a36">
            <td style="padding-top: 32px;">
              <span
                style="padding-top: 16px; padding-bottom: 16px; font-size: 24px; color: #5e72e4; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
                Dear {username},
              </span><br>
            </td>
          </tr>
          <tr>
            <td style="padding-top: 12px;">
              <span
                style="font-size: 17px; color: #c6d4df; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
                <p>Your password has been changed successfully!</p>
              </span>
            </td>
          </tr>
          <tr>
            <td style="padding: 20px; font-size: 12px; line-height: 17px; color: #c6d4df; font-family: Arial, Helvetica, sans-serif;">
              <p style="padding-bottom: 10px; color: #c6d4df;"><span style="color: #ffffff; font-weight: bold;">
                If it wasn't you</span>,
                change the password for your Restless account and also consider changing
                your email password to ensure the security of your account.
              </p>
            </td>
          </tr>
          <tr>
            <td style="font-size: 12px; color: #6d7880; padding-top: 16px; padding-bottom: 60px;">
              The Restless team
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <td bgcolor="#000000">
      <table width="460" height="55" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr valign="center">
          <td width="60">
            <a href="https://github.com/Restless-DevTools" target="_blank"
              style="color: #8B8B8B; font-size: 10px; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; text-transform: uppercase;">
              <span
                style="font-size:10px; color:#8B8B8B;font-family: Trebuchet MS,Verdana,Arial,Helvetica,sans-serif; text-transform: uppercase;">
                <img src="https://i.imgur.com/g0BbebM.png" alt="Restless" width="50" style="object-fit: contain;"
                  hspace="0" vspace="0" border="0" align="top">
              </span>
            </a>
          </td>
          <td width="350" valign="center">
            <span style="color: #999999; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif;">
              © Restless DevTools.
            </span>
          </td>
        </tr>
      </table>
    </td>
    </tr>
  </table>
</body>
</html>